 body {
     background-image: url("img/valley2.jpg");

 }

 .ankor-link {
     color: floralwhite;
 }

 .fw-normal,
 .rem-me,
 .mb-1 {
     color: darksalmon;
 }

 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
 }


 .form-signup {
     max-width: 350px;
     padding: 15px;
 }

 .form-signup .form-floating:focus-within {
     z-index: 2;
 }


 .form-signup input[type="password"] {
     margin-bottom: 10px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }

 .form-signup input[name="username"] {
     margin-bottom: -1px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
 }

 .form-signup input[name="phone"] {
     margin-bottom: -1px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }

 .form-signup input[type="email"] {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;

 }

 .db-data,
 .path-root {
     color: yellow;
 }